canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
}

body {
  background-color: black;
}


button {

  font-size: 30px;
}

resetButton
{
  position: absolute;
  left: 20%;
  top: 78%;
}

predictionButton
{
  position: absolute;
  left: 50%;
  top: 78%;
}

outputText
{
  font-size: 30px;
  background-color: white;
  position: absolute;
  left: 38%;
  top: 85%;
}
